@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-background-secondary: #f9fafb;
  --color-primary: #0d5f3a;
  --color-primary-accent: #eaaa00;
  --color-secondary: #4b5563;
  --color-border: rgba(229, 231, 235, 1);
  --color-accent: #0d5f3a;
  --color-muted: #9ca3af;
  --color-destructive: #e53935;
  --color-positive: #22c55e;
  --scrollbar-width: 0.1rem;
}

@layer base {
  :root {
    --color-border-default: 255, 255, 255, 0.2;
    --scrollbar-width: 0.1rem;
    --primary: #0d5f3a;
    --secondary: #eaaa00;
    --background-light: #ffffff;
    --text-light-body: #4b5563;
    --border-light: #e5e7eb;
  }

  body {
    background-color: #ffffff;
    color: #4b5563;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(var(--color-border-default));
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}
