@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
  --primary: #0D5F3A;
  --secondary: #EAAA00;
  --background-light: #FFFFFF;
  --text-light-body: #4B5563;
  --border-light: #E5E7EB;
}

@theme inline {
  --color-primary: #0D5F3A;
  --color-secondary: #EAAA00;
  --color-background-light: #FFFFFF;
  --color-text-light-body: #4B5563;
  --color-border-light: #E5E7EB;
}

body {
  background: #FFFFFF;
  color: #111827;
  font-family: 'Inter', sans-serif;
}
